.app {
    margin: 0;
    padding: 0;
    position: relative;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1240px;
    justify-content: center;
    margin: 0 auto;
    column-gap: 40px;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    top: 30%;
    left: calc(50% - 100px);
}