.modal {
    margin: 0 auto;
    position: fixed;
    left:  calc(50% - 720px / 2);
    top: 10%;
    z-index: 1;
    box-sizing: content-box;
    padding: 40px 40px 60px;
    width: 720px;
    background-color: #1C1C21;
    z-index: 9;
    box-sizing: border-box;
    border-radius: 40px;
}
